<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.brd.service.BoardMapper">
   	<insert id="insertWritter" parameterType="com.example.demo.brd.service.Board">
		insert into boards(title, content)
		values (#{title}, #{content})
	</insert>
	<select id="selectAll" resultType="com.example.demo.brd.service.Board"
	parameterType="com.example.demo.brd.service.Board">
		select 
				title, 
				content, 
				written_date writtenDate, 
				updated_date updatedDate
				from boards
		
	</select>
	
	<select id="count" resultType="int">
        select count(*) from boards 
   </select>

	<update id="update" parameterType="com.example.demo.brd.service.Board">
		update boards
		set (#{title}, #{content})
		where title like ${value}
	</update>

	<delete id="delete" parameterType="com.example.demo.brd.service.Board">
		delete from boards
	</delete>

</mapper>
	
